---
name: Test

on:
  push:
    branches: [master, main]
    # only when python files are changed
    paths: 
      - '**.py'
  pull_request:
    branches: [master, main]
  
  workflow_dispatch:

# set the run-name 
run-name: ${{ github.ref_name }} -> Test (
  ${{ github.run_attempt }}
  )


jobs:
  lint:

    name: Runs unit tests
    runs-on: ubuntu-latest

    steps:

      - name: Echo current date and time
        id: datetime
        run: |
          echo "datetime: $(date '+%Y-%m-%d %H:%M:%S')"

      - name: Checkout Code
        uses: actions/checkout@v3.6.0

      - name: Set up Python 3.11
        uses: actions/setup-python@v4.7.0
        with:
          python-version: 3.11
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
          pip install pytest
      
      - name: Run tests
        run: |
          pytest --log-level DEBUG --tenant_id ${{ vars.TEST_TENANT_ID}} --client_id ${{ vars.TEST_CLIENT_ID }} --client_secret ${{ secrets.TEST_CLIENT_SECRET }} tests